.display-block {
    display: block;
}

.price {
    padding-left: 50px;
}

body {
    font-family: 'Calibri';
    padding: 10px;
}

.border-top {
    border-top: 1px solid black;
    padding: 20px;
}

.title{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.grand-total {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.remove {
    color: blue;
    font-size: 12px;
}

label {
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: .5rem;
}
.form-control {
    box-shadow: none !important;
    height: 100px;
}

.divider {
    margin: 20px;
    border-bottom: 1px solid black;
}

th {
    text-align: left;
    width: 250px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

td {
    text-align: right;
}

.grandTotalContainer {
    column-count: 2;
}

.commentLabel {
    display: block;
}
