h1{
    color:darkolivegreen;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  #headerImage {
    height: 100px;
    width: 125px;
    position: absolute;
    top: 0px;
    right: 0px;
    float: right;
  }

  #image1{
    width: 250px;
    height: 150px;
  }