<!DOCTYPE html>
<html lang="de">
  <head>
    <link rel="stylesheet" href="site.component.css">
    <title>Mountains</title>
  </head>
  <body>
    <div id="title">
      <h1>Mountains</h1>
      <img id="headerImage" src="mountain.png" alt="Test Image"/>
    </div>
    <div>
    </br>
      <hr>
      <p>Mountains are majestic natural formations that have captivated humans for centuries. With their towering peaks, rugged landscapes, and breathtaking vistas, mountains offer a sense of awe and wonder. They are not only a source of beauty, but also play a vital role in our ecosystem, providing habitats for diverse plant and animal species. Whether you're an avid hiker, a nature enthusiast, or simply someone who appreciates the grandeur of the natural world, exploring mountains can be a truly transformative experience. In this conversation, let's delve deeper into the fascinating world of mountains and discover their significance in our lives.</p>
    <table>
      <tr>
        <th>Name</th>
        <th>Height</th>
      </tr>
      <tr>
        <td>Matterhorn</td>
        <td>4478</td>
      </tr>
      <tr>
        <td>Dufourspitze</td>
        <td>4634</td>
      </tr>
      <tr>
        <td>Bözingenberg</td>
        <td>930</td>
      </tr>
    </table>
    </div> 
  </br>
    <div>
      <img id="image1" src="matterhorn.png" alt="Test Image"/>
    </div>
  </body>
</html>